# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python files (if applicable)
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environments
venv/
.env/

# Ignore build files (typical for ROS and Webots)
build/
devel/
install/
logs/

# Ignore Visual Studio Code settings
.vscode/

# Ignore JetBrains IDE settings
.idea/

# Ignore compiled libraries and binaries
*.so
*.dll
*.dylib
*.exe
*.out
*.o

# Ignore ROS2 workspace overlay builds
colcon/
log/

# Ignore Webots cache and temporary files
cache/
tmp/
*.wbt~
*.wbo~
*.tmp

# Ignore all .git folders except the submodule
**/.git/
!src/webots_ros2/.git

# Ignore any other unwanted files specific to your development environment

